.throbber.loading {
    background-image: url("img/wait.gif");
}

.automation.throbber {
    margin-left:0.5em;
}

form.automation-action-form:first-child {
    border-top:none;
    padding-top:0;
}

form.automation-action-form {
    border-top:1px solid #ccc;
    padding-top:1em;
}

form.aui .comment-action-area .security-level {display:block;}

#automation-progress-tracker .aui-progress-tracker-step {min-width:125px;}
form.aui .field-group .aui-message.error {color:white}

.count-pagination {clear:both;padding:8px 0;table-layout:auto;}
.count-pagination .pagination{font-size:0;text-align:right;white-space:nowrap;}
.count-pagination .pagination>a,
.count-pagination .pagination>strong,
.count-pagination .pagination>span{font-size:14px;line-height:1;height:auto;margin:0 0 0 0.15em;padding:0.1em;position:relative;vertical-align:bottom;}