.border-box-sizing() {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.automation {
  .automation-container {
    margin-top:1em;
    
    > .aui-item {
      border-top:1px solid #ddd;
      padding-top:1em;
      overflow: hidden
    }
    .automation-details {
      border-left:1px solid #ddd;
      width: 65%;
    }
  }

  .action-details {
    padding-top:1em;
  }
  h3 + .action-details {
    padding-top:0;
  }

  .split-listing {
    table-layout: fixed;
    thead th + th {
      width:50px;
    }
    .operations-list .icon-tools {
      display: inline-block;
      padding:4px 7px 4px 22px;
      vertical-align: baseline;
      width:8px;
    }
    .operations-list .icon-tools > span {
      padding-right: 8px;
      text-indent: -999em;
      text-align: left;
    }
    tr {
      .operations-list { display: none; }
      &:hover { .operations-list { display: block; } }
    }
    td {
      overflow: hidden;
    }
    td.operations-container {
      vertical-align: middle;
      text-align: right;
      width: 100%;
      height: 100%;
    }
  }

  form.aui {
    .field-group label {
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .field-value {
      font-weight: normal;
    }
    .text-value {
      white-space:pre-wrap;
    }
    label {
      color:#707070;
    }
  }

  .buttons-container {
    padding-top:1em;
    .aui-button {
      margin-right:5px;
    }
    .operations-list {
      display:inline-block;
    }
  }
}

/* overrides */
table.aui {
  tbody {
    tr.highlighted {
      background-color: #F5F5F5
    }
  }
}
.buttons-container a + a::before {
  color: #bbb;
}

table.aui > tbody > tr.highlighted:first-child > td,
table.aui > tbody > tr:first-child > td.operations-container {
  border-top: 0px;
}
